/* 
86377b / purple
27273c / darks
 */
body {
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;

}

a {
    color: black;
}

/* NAV */

li, ul, a {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 1em;
    justify-content: space-evenly;
    transition: all .4s ease-in-out;
}

a:hover {
    color: #5C7AEA;
    font-weight: bold;
    transform: scale(1.2);
}

@keyframes grow {
    100% {
        font-size: 150%;
    }
}

#resume-button {
    width: 10em;
    border-radius: 1em;
    border: none;
    background-color: #5C7AEA;
    color: white;
    font-size: 1em;
    font-weight: bold;
    transition: 1.5s ease;
}

#resume-button:hover {
 cursor: pointer;   
 background-color: white;
 color: #5C7AEA;
 border: 2px #5C7AEA solid;
 transform: scale(1.2);
}

/* HERO */

.hero-section {
    height: 80vh;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
#main-heading {
    font-size: 8em;
    font-weight: 400;
    font-style:normal;
    padding: 5% 0 0 5%;
    margin-bottom: 0;
}

#anim {
    position: relative;

}

#anim::after{
    content: '';
    position: absolute;
    background-color: white;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid black;
    animation: typing 1.5s steps(4) infinite;
}


#main-subheading {
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;    
    padding: 0 0 0 5%;
    display: inline-flex;
}

#main-subheading span {
    line-height: 80px;
    height: 80px;
    overflow:hidden;
}

#socials {
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
    height: 200px;
    width: 160px;
}


#github {
    padding-left: 2rem;
}

#socials:hover {
    cursor: pointer;
}

#workimage {
    position: absolute;
    display: flex;
    right: 200px;
    bottom: 10px;
    width: 800px;
    height: 800px;
}



/* PROJECTS */



.projects-section {
    height: auto;
    color: black;
    flex-grow: 1;
}

#projects-heading {
    font-size: 6rem;
    display: flex;
    justify-content: space-around;
}

#projects-subheading {
    display: flex;
    margin: 0 15%;
}

#projects-container {
    display: flex;
    flex-basis: 20%;
    flex-wrap: wrap;
    margin: 5% 0;
    height: 50vh;
    min-width: 20rem;
    background-color:#f9f9f9;
    border-radius: 2em;
}

.personal-projects {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10%;
}

.icon-container, ol, li {
    display: flex;
    list-style: none;
}


#tech-icon { 
    width: 10em;
    height: 5em;
}

/* SKILLS */
.skills {
    height: 100vh;
    margin-top: 5%;
    color: black;
    display:flex;
}

#skills-heading {
    font-size: 6rem;
    display: flex;
    justify-content: space-around;
    margin: 1em 5%;
    text-align: center;
}

.skills-subheading {
    font-weight: lighter;
    display: flex;
    margin: 1em 15%;
}

.contact-button {
    display: flex;
    justify-content: space-around;
}

#contact-me-button {
    width: 16em;
    height: 4em;
    border-radius: 1em;
    border: none;
    background-color: #FF0000;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5em;
    transition: 1.5s ease;
}

#contact-me-button:hover {
    cursor: pointer;   
    background-color: white;
    color: #FF0000;
    border: 2px #FF0000 solid;
    transform: scale(1.2);
}


/* footer */

footer {
    
}

/* Blob Animation*/  
  .slider-thumb::before {
      position: absolute;
      content: "";
      left: 5%;
      top: 25%;
      width: 450px;
      height: 450px;
      background: #5C7AEA;
      border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
      will-change: border-radius, transform, opacity;
      animation: sliderShape 5s linear infinite;
      display: block;
      z-index: -1;
      -webkit-animation: sliderShape 5s linear infinite;
  }

  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }
  
  /* Typing Animation */

  @keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/* media quieries  */

@media only screen and (max-width: 1900px){
    #workimage {
        display: none;
    }

    
}

@media only screen and (max-width: 1200px){
    body {
    }

    .hero-section {
        margin-top: 20%;
    }
    #tech-icon {
        flex-basis: 5%;
    }
}

/* Mobile Design */
@media only screen and (max-width: 600px)  {
    body {
        
    }

    #main-heading {
        margin-top: 1em;
        font-size: 5em;
    }
    
    #anim::after{
        background-color: #5C7AEA;
    }

    #tech-icon {
        flex-basis: 1%;
    }
}
  

