/* 
86377b / purple
27273c / darks
 */
body {
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

a {
    color: white;
}

/* NAV */
.nav-container { 
    float: right;
    margin-top: 4em;
    border-left: 2px solid white;
}

li, ul, a {
    list-style: none;
    text-decoration: none;
    padding: 1em;

}

li:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* HERO */

.hero-section {
    height: 70vh;
    text-align: center;
    align-content: center;
}

.hero-text {
    align-content: center;
    margin-top: 20em;
}
#main-heading {
    font-size: 8rem;
    font-style:normal;
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
}

#main-subheading {
    display: flex;
    font-size: 2rem;
    font-weight: lighter;
    justify-content: space-around;
    
}

.button-div {
    display: flex;
    justify-content:center;
}
.hero-button {
    height: 3rem;
    width: 9rem;
    margin: 3em 6em;
    background-color:#27273c;
    color: white;
    border-radius: 2em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.hero-button:hover {
    cursor:pointer;
}

/* PROJECTS */
.projects-section {
    height: 100vh;
    color: black;
}

#projects-heading {
    font-size: 6rem;
    display: flex;
    justify-content: space-around;
}

#projects-subheading {
    font-weight: lighter;
    display: flex;
    margin: 0 25em;
}

#projects-container {
    display: flex;
    justify-content: space-around;
    margin: 3em auto;    
    height: 50vh;
    width: 60vw;
    background-color:#f9f9f9;
    border-radius: 2em;
    overflow-x: scroll;
}

.icon-container, ol, li {
    display: flex;
    list-style: none;
    justify-content: space-around;
}


#tech-icon { 
    width: 10em;
    height: 5em;
}

/* SKILLS */
.skills {
    height: 100vh;
    color: black;
}

#skills-heading {
    font-size: 6rem;
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}

#skills-subheading {
    font-weight: lighter;
    display: flex;
    margin: 1em 25em;

}


@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 200px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 220px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 180px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.waveWrapper {
    z-index: -100;
}